@page "/"

<h1>Business Guys for Hyphen Times.</h1>

<h2>Why? Because we care <small>about hyphens and business.</small></h2>

<h3>3 Guys. All the hyphens.</h3>

<p><a href="chad">Chad</a>, <a href="daz">Daz</a> and <a href="chaz">Chaz</a>.</p>

<img src="/images/stonks.gif" style="max-width: 600px;" />